.fy-hosptial-list {
  width: 10vw;
  height: 28vh;
  position: absolute;
  bottom: 150px;
  right: 110px;
  z-index: 9999999;

}
.cont-right-list{
  width: 10vw;
  height: 28vh;
  position: absolute;
  bottom: 150px;
  right: 110px;
  z-index: 9999999;
}
.bg-map{
  height:300px;
  width:200px;
  background-color: transparent;
  color:#CCCCCC;
  background-size: 100% 100%;
  border: 0;
  padding: 0 10px;
}
.bg-map-title{
  height:50px;
  width:100%;
  border-bottom:0px solid #F0F0F0;
  text-align: center
}
.bg-map-title>span{
  line-height:50px;
  font-size: 18px;
}
.bg-map-list{
  height:110px;
  width:100%;
  cursor: pointer
}
.bg-map-list-count{
  padding-left:18px;
  padding-top:22px;
  display: flex;
  justify-content: space-between;
}
.fy-hosptials{
  display: flex;
  justify-content: space-between;
  padding: 4px;
}
.bg-map-list-item{
  height:180px;
  width:97%;
  cursor: pointer;
  margin-top: 10px;
  overflow: auto;
}
#tooltipBarId{
  height:200px;
  width:100%;
  border-radius:0 0 5px 0;
}
.fy-line-clamp{
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:1;/*文字超过1行显示...*/
  overflow:hidden;
}

::-webkit-scrollbar {
  width: 0px;
  height: 6px;
}
::-webkit-scrollbar-track{
  /*width: 4px;*/
  /*height: 6px;*/
}
::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  background-clip: padding-box;
  min-height: 28px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #AAA;
}
::-webkit-scrollbar-track-piece {
  background-color: #fff;
}